<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015473116114-pjj49nnucvj5cr1du2438f97ld3lo20m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015473116114-pjj49nnucvj5cr1du2438f97ld3lo20m</string>
	<key>API_KEY</key>
	<string>AIzaSyDKG3F5s7odWVyEzweTLWo-bI82hv5tVY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1015473116114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bff.bk</string>
	<key>PROJECT_ID</key>
	<string>flasha-chat-ios-1</string>
	<key>STORAGE_BUCKET</key>
	<string>flasha-chat-ios-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015473116114:ios:796d08ff43a979be396e0b</string>
</dict>
</plist>